body {
  background-image: url("123114.png");
  color: white;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.class {
  margin: 0;
  padding: 0;
  background-color: yellow;
  color: goldenrod;
  font-family: sans-serif;
  float: left;
  overflow: hidden;
  list-style-type: none;
}
.class-link {
  display: block;
  background-color: rgb(57, 57, 57);
  color: seashell;
  padding: 12px;
  text-align: center;
  display: inline;
  float: left;
  text-decoration: none;
}
